.button{
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 48px;
}
.button.active{
  background: #e8f2ff !important;
}
.button-style {
  margin-bottom: 2px;
}
.button-style:hover {
  background: #e7eaf3!important;
}
.button-style:hover .text-style {
  color : Black !important;
}

.button.only-icon {
  text-align: center;
  justify-content: center;
}
.button.toogle-eye-icon:hover{
  background-color: #f8f9fa !important;
}
.button.only-icon .image-style {
  margin: 0!important;
}
